* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Flex", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}


body {
  height: 100vh;
  display: flex;
  background: #f7f7f7;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 85px 20px;
  height: 100vh;
  border-right: #dedede 1px solid;
  overflow: auto;
}

.logo {
  position: fixed;
  margin: -85px -20px;
  z-index: 1;
  height: 85px;
  width: 349px;
  background: #f7f7f780;
  padding-top: 40px;
  padding-left: 20px;
  backdrop-filter: blur(20px);
}

.logo span {
  font-size: 25px;
  color: #000;
}

.nav {
  display: block;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  overflow-y: hidden;
  height: fit-content;
  flex-shrink: 0;
}

.nav a, .bar-extra {
  display: flex;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  line-height: 25px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


a.active {
  background: #ebebeb;
}

a.active:hover {
  background: #dcdcdc!important;
}

.nav a:hover, .bar-extra:hover {
  background: #f0f0f0;
}

.nav a:active, .bar-extra:active {
  background: #e1e1e1;
}

/* Layout */
.layout {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.content {
  position: relative;
  background: #f7f7f7;
  color: #111;
  padding: 85px 50px;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.page {
  position: fixed;
  margin: -85px -50px;
  z-index: 1;
  height: 85px;
  width: calc(100% - 350px);
  text-align: center;
  background: #f7f7f780;
  padding-top: 40px;
  backdrop-filter: blur(20px);
}

.page span {
  font-size: 25px;
  color: #000;
}

/* Event Grid */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 900px) {
  .event-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.modal {
  background: #fff;
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
}

.modal input {
  padding: 8px;
  border-radius: 8px;
  background-color: #e8e8e8;
  border: none;
  color: #000;
  outline: solid 2px #4980f700;
  transition: outline 0.3s ease;
}

.modal input:focus {
  outline: solid 2px #4980f7;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 12px;
  border: none;
  color: white;
  background-color: #4980f7;
  border-radius: 8px;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: #3e6fd6;
}

.accessModal {
  background:#fff;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  padding: 10px;
  display: inline;
  flex-direction: column;
  border-radius: 15px;
  color: #000;
  font-weight: bold;
}

.accessModal button {
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4980f7;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

/* Event Card Styles */

.event-box {
  border-radius: 15px;
  padding: 15px;
  background-color: #fff;
  word-wrap: break-word;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  color: #000;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.event-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.event-date {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.event-desc {
  font-size: 16px;
  margin-bottom: 6px;
}

.event-company {
  font-size: 14px;
  font-style: italic;
  opacity: 0.4;
}

.event-interest {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4980f7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.event-interest:hover {
  background-color: #3e6fd6;
}

.error-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  background-color: #fff;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  color: #000;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.error {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
}

.event-desc {
  font-size: 16px;
  margin-bottom: 6px;
}

.error-msg {
  font-size: 14px;
  font-style: italic;
  color: #0006;
}

.error-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4980f7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Device */

.device-overlay {
  position: fixed;
  inset: 0;
  background: #00000060;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  z-index: 3;
}

.device-message {
  background: white;
  color: #000;
  font-size: 30px;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  text-align: center;
}

/* Posted */

.posted {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  background-color: #fff;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  color: #000;
  animation: fadeIn 1s ease forwards;
}