* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Flex", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: var(--motion);
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --bg: #f7f7f7;
  --item: #fff;
  --item-hover: #f0f0f0;
  --item-active: #e1e1e1;
  --text: #000;
  --header: #f7f7f7aa;
  --active: #ebebeb;
  --active-hover: #dcdcdc;
  --input: #e8e8e8;
  --divider: #dedede;
  --toggle: #e5e5e5;
  --motion: 0.3s ease;
  --filter: blur(15px);
  --opacity: 0;
  --color: #4980f7;
  --color-hover: #3e6fd6;
}

.dark {
  --bg: #000000;
  --item: #242424;
  --item-hover: #353535;
  --item-active: #424242;
  --text: #fff;
  --header: #000000aa;
  --active: #3e3e3e;
  --active-hover: #5d5d5d;
  --input: #242424;
  --divider: #333333;
  --toggle: #505050;
}

.reduced {
  --motion: none !important;
  --filter: none !important;
  --opacity: 1 !important;
  --header: #f7f7f7 !important;
}

.reduced.dark  {
  --motion: none !important;
  --filter: none !important;
  --opacity: 1 !important;
  --header: #000000 !important;
}

/* Global */
body {
  height: 100vh;
  display: flex;
  background: var(--bg);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

input {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--bg);
  border: none;
  color: var(--text);
  outline: solid 2px #4980f700;
  transition: outline 0.3s ease;
  height: 2rem;
  width: 100%;
}

textarea {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--bg);
  border: none;
  color: var(--text);
  outline: solid 2px #4980f700;
  transition: outline 0.3s ease;
  width: 100%;
  resize: none;
  overflow: hidden;
  max-height: 5rem;
}

input:focus {
  display: flex;
  outline: solid 2px var(--color);
}

button {
  padding: 8px 12px;
  border: none;
  color: #fff;
  background-color: var(--color);
  border-radius: 8px;
  cursor: pointer;
}

ul {
  list-style-position: inside;
}

a {
  color: var(--color);
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 85px 20px;
  height: 100vh;
  border-right: var(--divider) 1px solid;
  overflow: auto;
}

.logo {
  position: fixed;
  margin: -85px -20px;
  z-index: 1;
  height: 85px;
  width: 349px;
  background: var(--header);
  padding-top: 40px;
  padding-left: 20px;
  backdrop-filter: var(--filter);
}

.logo span {
  font-size: 25px;
  color: var(--text);
}

.nav {
  display: block;
  flex-direction: column;
  width: 100%;
  background-color: var(--item);
  border-radius: 15px;
  overflow-y: hidden;
  height: fit-content;
  flex-shrink: 0;
}

.nav a, .bar-extra, .nav span {
  display: flex;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  line-height: 25px;
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

span#active {
  background: var(--active);
}

span#active:hover {
  background: var(--active-hover);
}

.nav a:not(#active):hover, .bar-extra:hover, .nav span:not(#active):active {
  background: var(--item-hover);
}

.nav a:not(#active):active, .bar-extra:active, .nav span:not(#active):active {
  background: var(--item-active);
}

.nav div {
  height: 25px;
  width: 25px;
  background: var(--color);
  margin-right: 10px;
  border-radius: 5px;
  display: none;
}

/* Layout */
.layout {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.content {
  position: relative;
  background: var(--bg);
  color: #111;
  padding: 85px 50px;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.section {
  position: relative;
  font-size: 12px;
  color: var(--text);
  opacity: 0.5;
  margin: 0 auto 5px auto;
  font-weight: normal;
  width: 100%;
  max-width: 700px;
  left: 10px;
}

.footer {
  font-size: 12px;
  color: var(--text);
  opacity: 0.5;
  text-align: center;
}

.page {
  position: fixed;
  margin: -85px -50px;
  z-index: 1;
  height: 85px;
  width: calc(100% - 350px);
  text-align: center;
  background: var(--header);
  padding-top: 40px;
  backdrop-filter: var(--filter);
}

.page h1 {
  font-size: 25px;
  color: var(--text);
  font-weight: normal;
}

.ui {
  overflow: hidden;
  width: 20px;
  right: 20px;
  top: 20px;
  height: 20px;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

button#back, button#openModal {
  padding: 0;
  border: none;
  color: var(--text);
  background-color: transparent;
  border-radius: 0;
}

.mobile-back {
  display: none;
}

.add-event {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  font-size: 25px;
}

.dark .add-event {
  filter: invert(1);
}

/* Event Grid */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: var(--filter);
  opacity: var(--opacity);
  color: var(--text);
  z-index: 2;
  animation: fadeIn 0.2s ease forwards;
}

.modal {
  background: var(--bg);
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 25px;
  outline: solid 1px var(--item);
}

.modal input, .modal textarea {
  padding: 12px;
  height: 40px;
  border-radius: 12px;
  background-color: var(--input);
}

#modalTitle {
  font-size: 20px;
  color: var(--text)
}

.fielderror {
  outline: solid 2px #E92C2C !important;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 12px;
  border: none;
  color: #fff;
  background-color: var(--color);
  border-radius: 12px;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: var(--color-hover);
}

.accessModal {
  background: var(--item);
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  width: calc(100% - 40px);
  max-width: 400px;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  border-radius: 25px;
  border: solid 1px var(--divider);
  color: var(--text);
  font-weight: bold;
  animation: fadeIn 0.2s ease forwards;
  z-index: 3;
}

.accessModal p {
  font-weight: normal;
}

.accessModal a, .accessModal button {
  font-weight: normal;
  font-size: 15px;
  padding: 12px 12px;
  border: none;
  color: #fff;
  background-color: var(--color);
  border-radius: 12px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Event Card Styles */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 15px 15px 16px 15px;
}

.event-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background: var(--item);
  word-wrap: break-word;
  opacity: var(--opacity);
  animation: fadeIn 1s ease forwards;
  color: var(--text);
  overflow: hidden;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes enter {
  to {
    transform: translateY(0px);
  }
}

.event-name {
  font-size: 22px;
  font-weight: bold;
}

.event-date, .event-location {
  font-size: 14px;
  opacity: 0.4;
}

.event-desc {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-company {
  font-size: 14px;
  font-style: italic;
  opacity: 0.4;
}

.event-interest {
  font-size: 16px;
  padding: 12px;
  text-align: left;
  padding: 0;
  background: var(--item);
  color: var(--color);
  padding: 15px 15px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  border-top: solid 1px var(--divider);
}

.event-interest.cancelled {
  color: #E92C2C;
}

.event-interest:hover {
  background: var(--item-hover);
}

/* Event Expanded Styles */

#viewDate, #viewLocation, #viewCompany {
  opacity: 0.4;
}

#viewCompany {
  font-style: italic;
}

/* Error styles */

.error-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--item);
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  color: var(--text);
  opacity: var(--opacity);
  animation: fadeIn 1s ease forwards;
  margin-bottom: 20px;
}

.error {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
}

.error-msg {
  font-size: 14px;
  font-style: italic;
  color: var(--text);
  opacity: 0.4;
}

.error-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Posted */

.posted {
  font-size: 16px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: var(--item);
  width: 100%;
  color: var(--text);
  line-height: 20px;
  opacity: var(--opacity);
  animation: fadeIn 1s ease forwards;
  max-width: 700px;
  margin: 0 auto 10px auto;
}

.posted ol {
  list-style: none;
}

.inline {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  color: var(--text);
  align-items: center;
}

#date, #time, #street, #city {
  width: 50%;
}

#state {
  text-align: center;
  width: 50px;
}

#description {
  overflow-y: auto;
}

/* Mobile */

@media (max-width: 720px) {
  .error-box {
    margin-bottom: 10px;
  }
  
  .sidebar {
    position: absolute;
    width: 100vw;
    padding: 110px 10px;
    border: none;
    gap: 10px;
  }

  .logo {
    height: 110px;
    width: 100vw;
    margin: -110px -10px;
    padding-top: 55px;
  }

  .logo span {
    font-size: 35px;
  }

  .page {
    height: 110px;
    width: 100vw;
    margin: -110px -10px;
    padding-top: 55px;
    text-align: left;
    padding-left: 20px;
    text-wrap: nowrap;
  }

  .page h1 {
    font-size: 35px;
  }

  .layout {
    position: fixed;
    z-index: 1;
    transform: translateX(100vw);
    overflow: hidden;
    height: 100%;
    width: 100vw;
    background: var(--bg);
  }
  
  .event-grid {
    gap: 10px;
  }

  .content {
    padding: 110px 10px;
  }

  .open {
    transform: translateX(0) !important;
  }

  .nav a, .bar-extra, .nav span {
    padding: 12px;
    font-size: 15px;
    font-weight: normal;
  }

  #active {
    background: var(--item) !important;
  }

  #active:hover {
    background: var(--item-hover) !important;
  }

  #active:active {
    background: var(--item-active) !important;
  }

  .ui {
    top: 0;
    left: 0;
    width: calc(100vw - 40px);
    margin: 20px 20px;
    transform: translateX(100vw);

  }

  .mobile-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
    font-size: 30px;
  }

  .dark .mobile-back {
    filter: invert(1);
  }

  .posted {
    opacity: 1;
  }

  .nav-fx {
    transform: scale(0.9);
    opacity: 0;
  }

  .modal {
    scale: 1.1;
  }

  .accessModal {
    bottom: 20px;
    transform: translateY(200px);
    animation: enter 0.2s ease forwards;
    z-index: 3;
  }
}

/* toggles */

.toggle {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 25px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--toggle);
  transition: var(--motion);
  border-radius: 28px;
}

.switch::before {
  content: "";
  position: absolute;
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: var(--motion);
  border-radius: 50%;
}

.switch:hover::before {
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
}

.switch:active::before {
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
}

.toggle input:checked + .switch {
  background-color: var(--color);
}

.toggle input:checked + .switch::before {
  transform: translateX(17px);
}

/* Account Page */
.my-events {
  max-width: 700px;
  width: 100%;
  margin: 0 auto 20px auto;
}

.my-events-grid {
  display: grid;
  max-width: 700px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  opacity: var(--opacity);
  animation: fadeIn 1s ease forwards;
  margin: 0 auto 10px auto;
}

#logout {
  display: flex;
  justify-content: center;
  max-width: 300px;
  background-color: var(--active);
  color: var(--text);
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;
  margin: 30px auto 0 auto;
  width: 90%;
  opacity: var(--opacity);
  animation: fadeIn 1s ease forwards;
}

.dark #logout {
  opacity: 0.5;
}

#logout:hover {
  background-color: var(--active-hover);
}