* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background: #191718;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 100px;
  background: #191718;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  min-height: 100vh;
}

.sidebar .logo {
  display: fixed;
  top: 0px;
  width: 50px;
  height: 50px;
  background: #2c2728;
  border-radius: 15px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #ca6974;
}

.sidebar .settings {
  display: fixed;
  top: 0px;
  width: 50px;
  height: 50px;
  background: #2c2728;
  border-radius: 15px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  color: #ca6974;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.nav a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #444040;
  text-decoration: none;
  cursor: pointer;
}

.nav a:hover {
  background: #ca6974;
  color: white;
}

/* Layout */
.layout {
  flex: 1;
  display: flex;
  padding: 10px 0px;
  overflow-y: auto;
}

.content {
  position: relative;
  background: #2c2728;
  color: #111;
  border-radius: 20px;
  padding: 20px;
  width: calc(100% - 300px);
  min-height: 100%;
}

/* Event Grid */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 900px) {
  .event-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 600px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}

/* Floating Action Button */
.fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 32px;
  border: none;
  background: #191718;
  color: white;
  cursor: pointer;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.modal {
  background: #464040;
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
}

.modal input {
  padding: 8px;
  border-radius: 8px;
  background-color: #2c2728;
  border: none;
  color: white;
  outline: none;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 12px;
  border: none;
  color: white;
  background-color: #ca6974;
  border-radius: 8px;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: #df929b;
}

.accessModal {
  background:#464040;
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 15px;
  padding: 5px;
  display: inline;
  flex-direction: column;
  border-radius: 10px;
}

.accessModal button {
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* Event Card Styles */

.event-box {
  border-radius: 12px;
  padding: 12px;
  background-color: #464040;
  word-wrap: break-word;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  color: white;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.event-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.event-date {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.event-desc {
  font-size: 16px;
  margin-bottom: 6px;
}

.event-company {
  font-size: 14px;
  font-style: italic;
  opacity: 0.4;
}

.event-interest {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ca6974;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.event-interest:hover {
  background-color: #df929b;
}

.error-box {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px 40px;
  background-color: #464040;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  color: white;
}

.error {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
}

.event-desc {
  font-size: 16px;
  margin-bottom: 6px;
}

.error-msg {
  font-size: 14px;
  font-style: italic;
  color: #fff4;
}

/* Device */

.device-overlay {
  position: fixed;
  inset: 0;
  background: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.device-message {
  background: white;
  font-size: 30px;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}