* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Flex", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: 0.3s ease;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --bg: #f7f7f7;
  --item: #fff;
  --item-hover: #f0f0f0;
  --item-active: #e1e1e1;
  --text: #000;
  --header: #f7f7f780;
  --active: #ebebeb;
  --active-hover: #dcdcdc;
  --input: #e8e8e8;
  --divider: #dedede;
}

.dark {
  --bg: #000000;
  --item: #242424;
  --item-hover: #353535;
  --item-active: #424242;
  --text: #fff;
  --header: #00000080;
  --active: #3e3e3e;
  --active-hover: #5d5d5d;
  --input: #242424;
  --divider: #333333;
}

body {
  height: 100vh;
  display: flex;
  background: var(--bg);
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 85px 20px;
  height: 100vh;
  border-right: var(--divider) 1px solid;
  overflow: auto;
}

.logo {
  position: fixed;
  margin: -85px -20px;
  z-index: 1;
  height: 85px;
  width: 349px;
  background: var(--header);
  padding-top: 40px;
  padding-left: 20px;
  backdrop-filter: blur(20px);
}

.logo span {
  font-size: 25px;
  color: var(--text);
}

.nav {
  display: block;
  flex-direction: column;
  width: 100%;
  background-color: var(--item);
  border-radius: 15px;
  overflow-y: hidden;
  height: fit-content;
  flex-shrink: 0;
}

.nav a, .bar-extra {
  display: flex;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  line-height: 25px;
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

a.active {
  background: var(--active);
}

a.active:hover {
  background: var(--active-hover)!important;
}

.nav a:hover, .bar-extra:hover {
  background: var(--item-hover);
}

.nav a:active, .bar-extra:active {
  background: var(--item-active);
}

/* Layout */
.layout {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.content {
  position: relative;
  background: var(--bg);
  color: #111;
  padding: 85px 50px;
  min-height: 100%;
  width: 100%;
  overflow: auto;
}

.page {
  position: fixed;
  margin: -85px -50px;
  z-index: 1;
  height: 85px;
  width: calc(100% - 350px);
  text-align: center;
  background: var(--header);
  padding-top: 40px;
  backdrop-filter: blur(20px);
}

.page span {
  font-size: 25px;
  color: var(--text);
}

/* Event Grid */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 900px) {
  .event-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .event-grid {
    grid-template-columns: 1fr;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  opacity: 0;
  z-index: 2;
  animation: fadeIn 0.2s ease forwards;
}

.modal {
  background: var(--bg);
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
}

.modal input {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--input);
  border: none;
  color: var(--text);
  outline: solid 2px #4980f700;
  transition: outline 0.3s ease;
}

.modal input:focus {
  outline: solid 2px #4980f7;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 8px 12px;
  border: none;
  color: #fff;
  background-color: #4980f7;
  border-radius: 8px;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: #3e6fd6;
}

.accessModal {
  background: var(--item);
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  padding: 10px;
  display: inline;
  flex-direction: column;
  border-radius: 15px;
  color: var(--text);
  font-weight: bold;
  opacity: 0;
  animation: fadeIn 0.2s ease forwards;
}

.accessModal button {
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: #4980f7;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

/* Event Card Styles */

.event-box {
  border-radius: 15px;
  padding: 15px;
  background: var(--item);
  word-wrap: break-word;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  color: var(--text);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.event-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.event-date {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.event-desc {
  font-size: 16px;
  margin-bottom: 6px;
}

.event-company {
  font-size: 14px;
  font-style: italic;
  opacity: 0.4;
}

.event-interest {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4980f7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.event-interest:hover {
  background-color: #3e6fd6;
}

/* Error styles */

.error-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--item);
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  color: var(--text);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.error {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
}

.event-desc {
  font-size: 16px;
  margin-bottom: 6px;
}

.error-msg {
  font-size: 14px;
  font-style: italic;
  color: var(--text);
  opacity: 0.4;
}

.error-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4980f7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/* Posted */

.posted {
  display: flex;
  border-radius: 15px;
  padding: 10px;
  background: var(--item);
  word-wrap: break-word;
  text-align: center;
  width: 100%;
  color: var(--text);
  line-height: 25px;
  justify-content: space-between;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

/* Mobile */

@media (max-width: 720px) {
  .sidebar {
    position: absolute;
    z-index: 5;
    width: 100vw;
    padding: 110px 20px;
  }
  .logo {
    height: 110px;
    width: 100vw;
    margin: -110px -20px;
  }
  .logo span {
    font-size: 50px;
    font-weight: 300;
  }
  .page {
    width: 100%;
  }
  .nav a, .bar-extra {
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
  }
}

/* toggles */

.toggle {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 25px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
}

.switch::before {
  content: "";
  position: absolute;
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.toggle input:checked + .switch {
  background-color: #4980f7;
}

.toggle input:checked + .switch::before {
  transform: translateX(17px);
}